{% extends "bootstrap/base.html" %}

{% block title %}Memo's Music Library{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='mmlib.css') }}"/>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">Memo's Music Library</a>
            </div>
            <div class="navbar-collapse collapse">
                {% set navigation_bar = [
                    ('main.home', 'home', 'Home'),
                    ('main.library', 'library', 'Library'),
                    ('main.saved_tracks', 'saved_tracks', 'Liked Tracks'),
                    ('main.saved_albums', 'saved_albums', 'Liked Albums'),
                    ('main.saved_playlists', 'saved_playlists', 'Playlists'),
                ] -%}
                {% set active_page = active_page -%}
                {% for route, id, caption in navigation_bar %}
                    <ul class="nav navbar-nav">
                        <li {% if id == active_page %} class="active" {% endif %}><a
                                href="{{ url_for(route|e) }}">{{ caption|e }}</a></li>
                    </ul>
                {% endfor %}
                {#                <ul class="nav navbar-nav">#}
                {#                    <li {% if id == active_page %} class="active"{% endif %}><a href="{{ url_for('main.library') }}">Library</a>#}
                {#                    </li>#}
                {#                </ul>#}
                {#                <ul class="nav navbar-nav">#}
                {#                    <li {% if id == active_page %} class="active"{% endif %}><a#}
                {#                            href="{{ url_for('main.saved_tracks') }}">Liked Tracks</a></li>#}
                {#                </ul>#}
                {#                <ul class="nav navbar-nav">#}
                {#                    <li {% if id == active_page %} class="active"{% endif %}><a#}
                {#                            href="{{ url_for('main.saved_albums') }}">Liked Albums</a></li>#}
                {#                </ul>#}
                {#                <ul class="nav navbar-nav">#}
                {#                    <li {% if id == active_page %} class="active"{% endif %}><a#}
                {#                            href="{{ url_for('main.saved_playlists') }}">Playlists</a></li>#}
                {#                </ul>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
