{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro format_duration(millis) -%}
    {{ (((millis/(1000*60))|round)%60)|int }}:{{ '{:>02d}'.format((((millis/1000)|round)%60)|int) }}
{%- endmacro %}

{% macro af_input(feature_name, min_form, max_form) -%}
    <div class="col-sm-3">
        <div class="col-sm-7 text-right"><strong>{{ feature_name }}</strong></div>
        <div class="col-sm-5 px-0">{{ min_form }} - {{ max_form }}</div>
    </div>
{%- endmacro %}

{% block page_content %}
    <div class="page-header">
        <h1>The Library <small>(all tracks)</small></h1>
    </div>
    {#        {{ wtf.quick_form(filter_library_form) }}#}
    <form method="POST" action="/library">
        {{ filter_library_form.hidden_tag() }}
        <div class="row">
            <div class="col-md-4">
                <div>{{ filter_library_form.tags_filter.label }}:</div>
                <div>{{ filter_library_form.tags_filter(class="lib-filter", size="10") }}</div>
            </div>
            <div class="col-md-4">
                <div>{{ filter_library_form.artist_filter.label }}:</div>
                <div>{{ filter_library_form.artist_filter(class="lib-filter", size="10") }}</div>
            </div>
            <div class="col-md-4">
                <div>{{ filter_library_form.album_filter.label }}:</div>
                <div>{{ filter_library_form.album_filter(class="lib-filter", size="10") }}</div>
            </div>
        </div>
        <div class="row mt-1">
            {{ af_input('Danceability',
                filter_library_form.danceability_min(class_="input-number-sm"),
                filter_library_form.danceability_max(class_="input-number-sm")) }}
            {{ af_input('Energy',
                filter_library_form.energy_min(class_="input-number-sm"),
                filter_library_form.energy_max(class_="input-number-sm")) }}
            {{ af_input('Speechiness',
                filter_library_form.speechiness_min(class_="input-number-sm"),
                filter_library_form.speechiness_max(class_="input-number-sm")) }}
            {{ af_input('Acousticness',
                filter_library_form.acousticness_min(class_="input-number-sm"),
                filter_library_form.acousticness_max(class_="input-number-sm")) }}
        </div>
        <div class="row mt-1">
            {{ af_input('Instrumentalness',
                filter_library_form.instrumentalness_min(class_="input-number-sm"),
                filter_library_form.instrumentalness_max(class_="input-number-sm")) }}
            {{ af_input('Liveness',
                filter_library_form.liveness_min(class_="input-number-sm"),
                filter_library_form.liveness_max(class_="input-number-sm")) }}
            {{ af_input('Valence',
                filter_library_form.valence_min(class_="input-number-sm"),
                filter_library_form.valence_max(class_="input-number-sm")) }}
            {{ af_input('Tempo',
                filter_library_form.tempo_min(class_="input-number-sm"),
                filter_library_form.tempo_max(class_="input-number-sm")) }}
        </div>
{#        <div class="row mt-1">#}
{#            <div class="col-sm-3">#}
{#                <div class="col-sm-7 text-right">{{ filter_library_form.mode.label }}</div>#}
{#                <div class="col-sm-5 px-0">#}
{#                    {{ filter_library_form.mode() }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#                <div class="col-sm-7 text-right">{{ filter_library_form.key.label }}</div>#}
{#                <div class="col-sm-5 px-0">#}
{#                    {{ filter_library_form.key(class_="input-text-sm") }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-3">#}
{#                <div class="col-sm-7 text-right">{{ filter_library_form.time_signature.label }}</div>#}
{#                <div class="col-sm-5 px-0">#}
{#                    {{ filter_library_form.time_signature(class_="input-text-sm") }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <button class="btn btn-default mt-2" type="submit">Apply Filters</button>
        <button type="reset" class="btn btn-default mt-2">Reset</button>
        <hr>
    </form>
    <form method="POST" action="/library">
        <div class="row">
            <div class="col-sm-12">Total selected tracks: {{ selected_tracks | length }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-default" type="submit">View Tracks</button>
                <button class="btn btn-default" type="submit">Edit Tags</button>
                <button class="btn btn-default" type="submit">Save as Playlist</button>
            </div>
        </div>
    </form>
    <hr>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <th>Track Name</th>
            <th>Track Artists</th>
            <th class="text-right">Duration (ms)</th>
            <th>Tags</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for track in selected_tracks %}
                <tr>
                    <td>{{ track.name }}</td>
                    <td>{% for artist in track.artists %}
                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td class="text-right">{{ format_duration(track.duration_ms) }}</td>
                    <td>{{ track.tags }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
