{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro format_duration(millis) -%}
    {{ (((millis/(1000*60))|round)%60)|int }}:{{ '{:>02d}'.format((((millis/1000)|round)%60)|int) }}
{%- endmacro %}

{% block page_content %}
    <div class="page-header">
        <h1>The Library <small>(all tracks)</small></h1>
    </div>
    {#        {{ wtf.quick_form(filter_library_form) }}#}
    <form method="POST" action="/library">
        <div class="row">
            <div class="col-md-4">
                <div>{{ filter_library_form.tags_filter.label }}:</div>
                <div>{{ filter_library_form.tags_filter(class="lib-filter") }}</div>
            </div>
            <div class="col-md-4">
                <div>{{ filter_library_form.artist_filter.label }}:</div>
                <div>{{ filter_library_form.artist_filter(class="lib-filter") }}</div>
            </div>
            <div class="col-md-4">
                <div>{{ filter_library_form.album_filter.label }}:</div>
                <div>{{ filter_library_form.album_filter(class="lib-filter") }}</div>
            </div>
        </div>
        <div class="row">
            
        </div>
        <input class="btn btn-default mt-1" type="submit" value="Apply Filter">
        <hr>
    </form>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <th>Track Name</th>
            <th>Track Artists</th>
            <th class="text-right">Duration (ms)</th>
            <th>Tags</th>
            {#            <th>Edit</th>#}
        </thead>
        <tbody>
            {% for track in library %}
                <tr>
                    <td>{{ track.name }}</td>
                    <td>{% for artist in track.artists %}
                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td class="text-right">{{ format_duration(track.duration_ms) }}</td>
                    <td>{{ track.tags }}</td>
                    {#                    <td>#}
                    {#                        <!-- Button trigger modal -->#}
                    {#                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#editTags">#}
                    {#                            Edit#}
                    {#                        </button>#}
                    {##}
                    {#                        <!-- Modal -->#}
                    {#                        <div class="modal fade" id="editTags" tabindex="-1" role="dialog" aria-labelledby="editTagsLabel">#}
                    {#                            <div class="modal-dialog" role="document">#}
                    {#                                <div class="modal-content">#}
                    {#                                    <div class="modal-header">#}
                    {#                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                    {#                                            <span aria-hidden="true">&times;</span></button>#}
                    {#                                        <h4 class="modal-title" id="myModalLabel">Edit track tags</h4>#}
                    {#                                    </div>#}
                    {#                                    <div class="modal-body">#}
                    {#                                        {{ track.name }}#}
                    {#                                        {{ track.tags }}#}
                    {#                                    </div>#}
                    {#                                    <div class="modal-footer">#}
                    {#                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
                    {#                                        <button type="button" class="btn btn-primary">Save changes</button>#}
                    {#                                        {{ wtf.quick_form(edit_tags_form, id=track.id) }}#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </td>#}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
