{% extends "base.html" %}

{% macro format_duration(millis) -%}
    {{ (((millis/(1000*60))|round)%60)|int }}:{{ '{:>02d}'.format((((millis/1000)|round)%60)|int) }}
{%- endmacro %}

{% block page_content %}
    <div class="page-header">
        <h1>Spotify Liked Tracks <small>(total {{ saved_tracks | length }} tracks)</small></h1>
    </div>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <th>Track Name</th>
            <th>Track Artists</th>
            <th class="text-right">Duration (ms)</th>
        </thead>
        <tbody>
            {% for track in saved_tracks %}
                <tr>
                    <td>{{ track.name }}</td>
                    <td>{% for artist in track.artists %}
                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td class="text-right">{{ format_duration(track.duration_ms) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
