{% extends "base.html" %}

{% set active_page = "saved_albums" %}

{% macro format_duration(millis) -%}
    {{ (((millis/(1000*60))|round)%60)|int }}:{{ '{:>02d}'.format((((millis/1000)|round)%60)|int) }}
{%- endmacro %}

{% macro af_input(feature_name, min_form, max_form) -%}
    <div class="col-sm-3">
        <div class="col-sm-7 text-right"><strong>{{ feature_name }}</strong></div>
        <div class="col-sm-5 px-0">{{ min_form }} - {{ max_form }}</div>
    </div>
{%- endmacro %}

{% block page_content %}
    <div class="page-header">
        <h1>Spotify Saved Albums</h1>
    </div>
{#    <form method="POST" action="/saved_albums">#}
{#        {{ form.hidden_tag() }}#}
{#        <div class="row">#}
{#            <div class="col-md-6">#}
{#                <div>{{ form.artist_filter.label }}:</div>#}
{#                <div>{{ form.artist_filter(class="lib-filter", size="10") }}</div>#}
{#                <div>{{ form.filter_artists(class="btn btn-default mt-2") }}</div>#}
{#            </div>#}
{#            {% if show_albums_filter %}#}
{#            <div class="col-md-6">#}
{#                <div>{{ form.album_filter.label }}:</div>#}
{#                <div>{{ form.album_filter(class="lib-filter", size="10") }}</div>#}
{#                <div>{{ form.filter_albums(class="btn btn-default mt-2") }}</div>#}
{#            </div>#}
{#            {%  endif %}#}
{#        </div>#}
{#        <hr>#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                {{ form.reset_filters(class="btn btn-default") }}#}
{#            </div>#}
{#        </div>#}
{#        <hr>#}
{#    </form>#}
{#    <div>selected artists: {{ debug_selected_artists }}</div>#}
{#    <div>selected albums: {{ debug_selected_albums }}</div>#}
{#    <div>show_albums_filter: {{ show_albums_filter }}</div>#}
    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <th>Name</th>
            <th>Artists</th>
            <th class="text-right">Number of Tracks</th>
        </thead>
        <tbody>
            {% for album in selected_albums %}
                <tr>
                    <td>{{ album.name }}</td>
                    <td>{% for artist in album.artists %}
                        {{ artist.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</td>
                    <td class="text-right">{{ album.total_tracks }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
